{% extends "base.html" %}

{% block the_body %}

    <h1 id="center"><b>Welcome to Word Game 4</b></h1><br>

    <p id="center"><b>How to Play:</b></p>

    <p id="center">You are provided with a sourceword</p>
    <p id="center">Using the Sourceword come up with seven 4-or-more letter words made u with letters from the sourcword</p>
    <p id="center"><b>Rules</b></p>

    <ol>
        <li>Only use letters from the sourceword</li>
        <li>Don't reuse letters more times than they appear in the sourceword</li>
        <li>Each word exists in the dictionary</li>
        <li>Words have 4 or more letters</li>
        <li>No duplicate words</li>
        <li>None of the words are the source word itself</li>
    </ol> <br>

    <div id="center">
        <a href="startgame" id="center"><button id="center">Start Game</button></a> <br>
    </div>

    <p id="center">Check out the leaderboard <a href="top10">here</a></p>
    
{% endblock %}